{% extends 'blog/base.html' %}
{% block title %}Comment - Django Blog{% endblock %}
{% block content %}
<h2>{% if object %}Edit Comment{% else %}Add Comment{% endif %}</h2>
<form method="post">
  {% csrf_token %}
  {% for field in form %}
    <div>
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field }}
      {% if field.errors %}
        <div>{{ field.errors|striptags }}</div>
      {% endif %}
    </div>
  {% endfor %}
  <button type="submit">Save</button>
</form>
<p><a href="{% if object %}{% url 'post_detail' object.post.pk %}{% else %}{% url 'posts' %}{% endif %}">Back</a></p>
{% endblock %}
